body { 
  background-color: #413c3ce1; 
  font-family: 'Arial', sans-serif;
}

.navbar {
  background-color: #343a40;
}

.col-md-3 {
  background-color: #000000; 
  padding: 20px;
  border-radius: 5px;
}

.filter-section h5 {
  color: #fff;
  margin-top: 15px;
}

.form-select, .form-control {
  border-radius: 5px;
}

.list-group-item {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.list-group-item:hover {
  background-color: #6c757d;
  cursor: pointer;
  transform: translateY(-2px);
}

.col-md-9 {
  padding: 20px;
}

.movie-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.movie-card {
  background-color: #fff; 
  border-radius: 5px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  overflow: hidden;
  width: 150px;
}

.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.poster {
  width: 100%;
  height: auto;
  border-bottom: 4px solid #343a40;
}

.movie-card p {
  padding: 10px;
  text-align: center;
  color: #333;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

h4 {
  color: #fff;
}
