<!DOCTYPE html> 
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Categoría</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="categoria.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="home.html">Regresar a Home</a>
      </div>
    </nav>
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-3">
          <h4>Categorías</h4>
          <ul class="list-group">
            <li class="list-group-item" @click="fetchMovies('28'); setCategoryName('Películas Populares')">Películas Populares</li>
            <li class="list-group-item" @click="fetchMovies('29'); setCategoryName('En Cartelera')">En Cartelera</li>
            <li class="list-group-item" @click="fetchMovies('30'); setCategoryName('Próximamente')">Próximamente</li>
            <li class="list-group-item" @click="fetchMovies('31'); setCategoryName('Mejor Puntuadas')">Mejor Puntuadas</li>
            <li class="list-group-item" @click="fetchSeries('32'); setCategoryName('Series Populares')">Series Populares</li>
            <li class="list-group-item" @click="fetchSeries('33'); setCategoryName('Series en Emisión')">Series en Emisión</li>
            <li class="list-group-item" @click="fetchSeries('34'); setCategoryName('Series Mejor Puntuadas')">Series Mejor Puntuadas</li>
          </ul>
        </div>
        <div class="col-md-9">
          <h2>{{ categoryName }}</h2>
          <div class="movie-section" v-if="movies.length">
            <div class="movie-card" v-for="movie in movies" :key="movie.id">
              <a :href="'DetallesPelicula.html?movieId=' + movie.id">
                <img :src="'https://image.tmdb.org/t/p/w500' + movie.poster_path" :alt="movie.title" class="poster">
                <p>{{ movie.title }}</p>
              </a>
            </div>
          </div>

          <h2>Series</h2>
          <div class="movie-section" v-if="series.length">
            <div class="movie-card" v-for="serie in series" :key="serie.id">
              <a :href="'DetallesPelicula.html?movieId=' + serie.id">
                <img :src="'https://image.tmdb.org/t/p/w500' + serie.poster_path" :alt="serie.name" class="poster">
                <p>{{ serie.name }}</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="categoria.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
